html,
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #FDFDFC
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border-top: 3px solid #4B6678;
    position: fixed;
    top: 0;
    background-color: #eceae6;
    box-shadow:0 0 5px rgba(0,0,0,0.8);
}

main {
    margin: auto;
    width: 90%;
}

.top-header--logo, .top-header--links{
    display: inline-block;
}

.top-header--logo {
    padding-left: 1em;
}

.top-header--logo a {
    color: #fb6f20;
    font-size: 1.4em;
    font-weight: 900;
}

.top-header--logo span {
    color: #fdb994;
}

.top-header--links {
    float: right;
    padding-right: 1em;
}

.top-header--links a {
    text-decoration: none;
    color: #4B6678;
    padding: 0.3em;
    font-weight: 900;
}

.top-header--links a:hover {
    color: #fb6f20;
}


main {
    margin-top: 55px;
    padding: 10px;
}

main form {
    width: 25%;
    margin: auto;
    padding: 0.8em;
    background-color: #f5f5f0;
    border-radius: 10px;
    box-shadow: 0 3px 2px 0 hsla(0, 0%, 0%, 0.2);
}

main form label {
    display: block;
    width: 70%;
    margin: auto;
    font-size: 0.7em;
    font-weight: 900;
}

main form input {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 0.5em;
}

.card {
    border-radius: 10px;
    box-shadow: 0 3px 2px 0 hsla(0, 0%, 0%, 0.2);
    margin: 10px;
}

.cards > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
}

.cards li {
    background-color: #f5f5f0;
}

.card-content {
    padding: 0 1em 1em 1em;
}

.card-content a:hover {
    text-decoration: underline;
}

.card-content .video-title {
    display: block;
    color: #302024;
    font-size: 0.9em;
    font-weight: 900;
}

.card-content .video-title:hover {
    color: #fb6f20;
    text-decoration: none;
}

.card-content .video-channel {
    display: block;
    color: #302024;
    font-weight: 700;
    font-size: 0.8em;
    opacity: 0.4;
    padding-top: 5px;
}

.card-content .video-date {
    color: #302024;
    font-weight: 500;
    font-size: 0.7em;
    opacity: 0.4;
    padding-top: 5px;
}

img {
    width: 100%;
}



/*

    border-radius: 10px 10px 0 0;

nav {
    margin: 10px;
}

nav .nav-periods {
    padding-top: 5px;
}

nav .button-category-selected,
nav .button-period-selected,
nav .button-not-selected {
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

nav .button-category-selected {
    color: white;
    background: rgb(28, 184, 65);
    pointer-events: none;
}

nav .button-period-selected {
    color: white;
    background: rgb(223, 117, 20);
    pointer-events: none;
}

.messages {
    font-weight: 900;
    font-size: 1.1em;
}

.card {
    border-radius: 10px;
    box-shadow: 0 3px 2px 0 hsla(0, 0%, 0%, 0.2);
    margin: 10px;
}

@media (max-width: 568px) {
    nav a, nav button {
        margin-bottom: 2px;
    }

    input {
        width: 100% !important;
    }
}

.card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.card-content {
    padding: 0 1em 1em 1em;
}

.card-content a,
.card-content a:visited {
    text-decoration: none;
    color: inherit;
}

.card-content a:hover {
    text-decoration: underline;
}

.card-content h1 {
    font-size: 1em;
    font-weight: 700;
}

.card-content h2 {
    color: darkgrey;
    font-size: 0.8em;
    font-weight: 700;
}

ul {
    list-style-type: square;
}

li {
    display: inline;
}

.menu-brand {
    font-size: 2.2em;
    font-weight: 900;
}

.menu-option {
    font-size: 1.3em;
}*/
