{% extends "base.html" %}

{% block content %}

<h1>{{ category.title }} - {{ selected_period }}</h1>
<hr>
<ul>
    <li> <a href="?period=last_24h">Last 24h</a> |</li>
    <li> <a href="?period=week">Last Week</a> |</li>
    <li> <a href="?period=all">All</a></li>
</ul>
<hr>
{% for video in videos %}

{% if forloop.counter0 == 0 or forloop.counter0|divisibleby:3 %}
<div class="pure-g">
    {% endif %}

    <div class="pure-u-1 pure-u-md-1-3">
        <a href="{{ video.url }}" target="_blank">
            <img src="{{video.thumbnail_image }}" alt="{{ video.title }}" width="75%">
            <div>
                <h5>{{ video.title }}</h5>
                <p>{{ video.channel.title }}</p>
                <p><small>{{ video.published_date }}</small></p>
            </div>
        </a>
    </div>

    {% if forloop.counter|divisibleby:3 %}
</div>
{% endif %}

{% endfor %}

{% endblock %}