{% extends "base.html" %}

{% block content %}

<nav>
    {% for category in categories %}
    {% if category == selected_category %}
    <a class="pure-button button-selected" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
    {% else %}
    <a class="pure-button button-not-selected" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
    {% endif %}
    {% endfor %}

    <div class="nav-period">
        <ul>
            <li> <a href="?period=last_24h">Last 24h</a> |</li>
            <li> <a href="?period=week">Last Week</a> |</li>
            <li> <a href="?period=all">All</a></li>
        </ul>
    </div>
</nav>

{% for video in videos %}

{% if forloop.counter0 == 0 or forloop.counter0|divisibleby:4 %}
<div class="pure-g">
    {% endif %}

    <div class="pure-u-1 pure-u-sm-12-24 pure-u-md-6-24">
        <div class="card">
            <a href="{{ video.url }}" target="_blank">
                <img src="{{ video.thumbnail_image }}" alt="{{ video.title }}" />
            </a>
            <div class="card-content">
                <h1><a href="{{ video.url }}" target="_blank">{{ video.title }}</a></h1>
                <h2><a href="{{ video.channel.url }}" target="_blank">{{ video.channel.title }}</a></h2>
                <h2>{{ video.published_date }}</h2>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}
</div>
{% endif %}

{% endfor %}

{% endblock %}