{% extends "base.html" %}

{% block content %}
<section class="title" id="title">
    <h1>{{ selected_category }}</h1>
    <div class="periods">
        <a href="?period=last_24h">Last 24h</a>
        <a href="?period=week">Last Week</a>
        <a href="?period=all">All</a>
    </div>

    <div class="categories">
        {% for category in categories %}
        <a href="{{ category.get_absolute_url }}?period={{ period }}">{{ category.title }}</a>
        {% endfor %}
    </div>


 </section>

<section class="cards" id="cards">


    <ul>
    {% for video in videos %}
        <li class="card">
            <a href="{{ video.url }}" target="_blank">
                <img src="{{ video.thumbnail_image }}" alt="{{ video.title }}" />
            </a>
            <div class="card-content">
                <a class="video-title" href="{{ video.url }}" target="_blank">{{ video.title }}</a>
                <a class="video-channel" href="{{ video.channel.url }}" target="_blank">{{ video.channel.title }}</a>
                <small class="video-date">{{ video.published_date }}</small>
            </div>
        </li>
    {% endfor %}
    </ul>
</section>

{% comment %}
<nav>
    <div class="nav-categories">
        {% for category in categories %}
        {% if category == selected_category %}
        <a class="pure-button button-category-selected"
            href="{{ category.get_absolute_url }}?period={{ period }}">{{ category.title }}</a>
        {% else %}
        <a class="pure-button button-not-selected"
            href="{{ category.get_absolute_url }}?period={{ period }}">{{ category.title }}</a>
        {% endif %}
        {% endfor %}
    </div>

    <div class="nav-periods">
        {% if request.user == user %}
        <button id="add-channel-button" class="pure-button button-add">+ Add Channel</button>
        {% endif %}

        <a class="pure-button {% if period == 'last_24h' %}button-period-selected{% else %}button-not-selected{% endif %}"
            href="?period=last_24h">Last 24h</a>
        <a class="pure-button {% if period == "week" %}button-period-selected{% else %}button-not-selected{% endif %}"
            href="?period=week">Last Week</a>
        <a class="pure-button {% if period == "all" %}button-period-selected{% else %}button-not-selected{% endif %}"
            href="?period=all">All</a>
    </div>

    {% if request.user == user %}
    <form action="{% url 'channels:add_channel' %}" id="add-channel-form" class="pure-form pure-g pure-u-1"
        method="POST">
        {% csrf_token %}
        <fieldset>
            <div class="pure-control-group">
                <input type="hidden" name="current_url" value="{{ request.get_full_path }}" />
                <input type="hidden" name="category_id" value="{{ selected_category.id }}" />
                <input type="text" name="url" class="pure-input-1-3" placeholder="Channel URL" />
                <button id="add-channel-button" type="submit" class="pure-button button-add">Add</button>
            </div>
        </fieldset>
    </form>
    {% endif %}
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endcomment %}

{% endblock %}

{% block extra_js %}
<script>
    document.getElementById("add-channel-form").hidden = true;

    document.getElementById("add-channel-button").onclick = function () {
        document.getElementById("add-channel-form").hidden = false;
    }
</script>
{% endblock %}
