{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
        integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>
    <div class="pure-g">
        <div class="pure-u-4-24"></div>

        <div class="pure-u-16-24">
            <div id="menu" class="pure-menu pure-menu-horizontal">
                <a href="" class="menu-brand pure-menu-heading pure-menu-link">MediaFeed</a>

                <ul class="pure-menu-list">
                    {% if request.user.is_authenticated %}
                    <li class="menu-option pure-menu-item">
                        <a href="" class="pure-menu-link">Log out</a>
                    </li>
                    {% else %}
                    <li class="menu-option pure-menu-item">
                        <a href="" class="pure-menu-link">Sign in</a>
                    </li>
                    <li class="menu-option pure-menu-item">
                        <a href="" class="pure-menu-link">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div id="content" class="pure-g">
                <div class="pure-u-5-5">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </div>

        <div class="pure-u-4-24"></div>
    </div>
    {% block extra_js %}{% endblock %}
</body>

</html>
