{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>
    <header id="top-header">
        <div class="top-header--logo">
            <a href="/">MediaFeed<span>.cc</span></a>
        </div>
        <div class="top-header--links">
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Sign Out</a>
            {% else %}
            <a href="">Sign Up</a>
            <a href="{% url 'login' %}">Sign In</a>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block extra_js %}{% endblock %}

</body>

</html>
