{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>
    <header id="top-header">
        <div class="top-header--logo">
            <a href="/">MediaFeed<span>.cc</span></a>
        </div>
        <div class="top-header--links">
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Sign Out</a>
            {% else %}
            <a href="">Sign Up</a>
            <a href="{% url 'login' %}">Sign In</a>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

{% comment %}

    <div class="pure-g">
        <div class="pure-u-4-24"></div>

        <div class="pure-u-16-24">
            <div id="menu" class="pure-menu pure-menu-horizontal">
                <a href="" class="menu-brand pure-menu-heading pure-menu-link">MediaFeed</a>

                <ul class="pure-menu-list">
                    {% if request.user.is_authenticated %}
                    <li class="menu-option pure-menu-item">
                        <a href="" class="pure-menu-link">Log out</a>
                    </li>
                    {% else %}
                    <li class="menu-option pure-menu-item">
                        <a href="" class="pure-menu-link">Sign in</a>
                    </li>
                    <li class="menu-option pure-menu-item">
                        <a href="" class="pure-menu-link">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div id="content" class="pure-g">
                <div class="pure-u-5-5">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </div>

        <div class="pure-u-4-24"></div>
    </div>
    {% block extra_js %}{% endblock %}
{% endcomment %}

</body>

</html>
