{% extends "base.html" %}

{% block content %}

<div id="login-form">

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% if form.errors %}
        <p class="alert">Your username and password didn't match. Please try again.</p>
        {% endif %}

        {{ form.username.label_tag }}
        {{ form.username }}

        {{ form.password.label_tag }}
        {{ form.password }}

        <input type="submit" value="Sign In">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>

{% endblock %}
